  h3
  {
    font-size: 25px !important;
  }

  .btn-success:hover
  {
    background-color:lightgreen;
  }

  canvas
  {
    animation-name:example;
    animation-duration:1s;
    animation-iteration-count:infinite; 
  }
  
  @keyframes example
 {
  from{box-shadow: 1px 1px 60px rgb(0, 255, 55) ;}
  to{box-shadow: 1px 1px 60px rgb(80, 107, 196) ;}
 }





